html,
body {
  width: 100%;
  height: 100%; }

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.section {
  flex: 1; }

.section .botit .imgs {
  position: relative;
  width: 100%;
  height: 230px; }

.section .botit .imgs > img {
  width: 100%;
  height: 100%; }

.section .botit {
  width: 100%;
  height: 50px;
  background: #928B80; }

.footer {
  width: 100%;
  height: 44px;
  display: flex;
  background: #7D7873; }

.footer span {
  flex: 1;
  color: #fff; }

.footer span .bai {
  width: 30px;
  height: 30px;
  background: #fff;
  color: #77726E; }
